.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;

}
body {
    text-align: center;
}
#my_games {
    background-color: #2e1ae8;
    padding: 20px 0;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-top: 15px;
    color: #FFFFFF;
    font-size: 20px;
}
.carousel-inner{
    align-self: center;

}
.item  a{
    display: flex !important;
    justify-content: center !important;
}
